* {
     box-sizing: border-box;
     font-family: 'Open Sans', sans-serif;
}
 img {
     height: 20px;
}

body {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-areas: 'header header header' 'main main aside';
     height: 100%;
     width: 100vw;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}